<%- include('../template/header') -%>

<h1>Bienvenidos a la página de ejemplo</h1>


<%- include('../template/footer') -%>

<!-- Esto se utiliza para cuando hay elementos que se repiten constantemente
y entonces lo haces plantilla y lo renderizas así -->